img {
    position: relative;
    width: 200px;
    vertical-align: top;
    
}

.title {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  
}
.class1{
    /*display: inline-block;*/
    /*margin-top: -0px;*/
    margin-left: 210px;
    vertical-align: middle;
   
}
.date{
    
margin-left: 220px;
margin-top:-250px;
   
}

#myId {
    padding: 50px;
}
.parentDiv{
    float: left;
padding: 20px;
width:500px;
height: 400px;
margin-left: 20px;
margin-top: 20px;
border: 2px solid blue
}


