.class1{
    display: block;
    background-color: blue;
    position: relative;
    height: 150px;
    width: 100px;
    text-align: center;
    line-height: 100px;

    


}
.class2{
    display: block;
    position: relative;
    background-color:red;
    height: 100px;
    width: 100px;
    top:-10px;
    text-align: center;
    line-height: 100px;
z-index: 50;
    

}
.class3{
    display: block;
    position: relative;
    background-color:red;
    height: 100px;
    width: 100px;
    top:15px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;


}
p::first-line {
    color: #ff0000;
    font-variant: small-caps;
}
p::first-letter {
    color: green;
    font-size: xx-large;
} 
::selection {
    color: red;
    background: yellow;
}




}







