div {
    font-family: 'Montserrat', sans-serif;
}
.inline {
    display: inline; 
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
}
.inlineblock{
    display: inline-block; 
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
    margin-right: -4px;

}
.background{
    background-image: url("http://images.clipartpanda.com/clipart-smiley-face-opT56K6iB.jpeg");
     height: 200px;
    width: 300px;
    background-size: cover;
     background-position: left top;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
    
    
   
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.italic {
    font-style: italic;
}

a:link {
    color:navy;
}
::placeholder {
    padding-left: 15px;
}

.parent {
    width: 300px;
    height: 300px;
    background-color: black;
    margin-top: 50%;
    
  }
  
  .child {
    width: 150px;
    height: 150px;
    background-color: red;
    margin:0 auto;
  
  }
  