.class1{
    display:block ;
    background-color: blue;
    position: relative;
    height: 400px;
    width: 500px;
    text-align: center;
    line-height: 30px;
    
    
    
    

}
.class2{
    display:inline-block ;
    background-color: green;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    text-align: center;
    line-height: 100px;
    

}
.class3{
    display:inline-block ;
    background-color: violet;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    text-align: center;
    line-height: 100px;

}
.class4{
    display:inline-block ;
    background-color: red;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    text-align: center;
    line-height: 100px;

}
.class5{
    display:inline-block ;
    background-color:black;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
    line-height: 100px;

}
.class6{
    display:inline-block ;
    background-color:pink;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    text-align: center;
    line-height: 100px;


}
.class7{
    display:inline-block ;
    background-color:yellow;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    text-align: center;
    line-height: 100px;


}
.class8{
    display:inline-block ;
    background-color:goldenrod;
    position: relative;
    height: 100px;
    width: 100px;
    top:30px;
    text-align: center;
    line-height: 100px;


}
body{
    
margin-top: 10%;
margin-left: 20%;

}
.class1 p{
    text-align: center;
}
