.class1{
    display:inline-block ;
    background-color: blue;
    position: relative;
    height: 200px;
    width: 500px;
    
   
    

}
.class2{
    display:inline-block ;
    background-color: green;
    position: relative;
    height: 100px;
    width: 100px;
    top:15px;
    margin: 20px;
    text-align: center;
    line-height: 100px;

}
.class3{
    display:inline-block ;
    background-color: violet;
    position: relative;
    height: 100px;
    width: 100px;
    top:15px;
    margin: 20px;
    text-align: center;
    line-height: 100px;

}
.class4{
    display:inline-block ;
    background-color: red;
    position: relative;
    height: 100px;
    width: 100px;
    top:15px;
    margin: 20px;
    text-align: center;
    line-height: 100px;

}